
body {
background: rgb(11,25,57);
background: linear-gradient(0deg, rgba(11,25,57,0.9066001400560224) 14%, rgba(134,103,87,0.676908263305322) 28%, rgba(203,146,95,0.8057598039215687) 40%, rgba(255,254,242,0.7553396358543417) 68%, rgba(255,254,242,1) 100%);
  margin: 0;
  font-family: Palatino;
  cursor: none;
}

img{
	width: 100%
}

.text{
	position: fixed;
	width: 100%;
	top: 45vh;
	text-align: center;
	font-size: 5vh;
	color: #fffef2;
	font-family: Palatino;
	letter-spacing: 0.5vh;
	opacity: 70%
}

.photo1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.photo2{
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 250px
}

.p2{
	position: relative;
	padding: 100px;
	top: 10px;
	width: 30%;
}

.p3{
	width: 30%;
	position: relative;
	padding: 100px;
	top: 200px;
	margin: auto;
	margin-right: 0px

}

.p4{
	width: 40%
}

.p5{
	display: block;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	width: 90%;
}

.photo89{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 180px;
}

.p8{
	width:66.5%;}
.p9{
	width:30%}

.p10{
	display: block;
	margin: auto;
	padding-top: 120px;
	padding-bottom: 120px;
	width:60%;
}

.photo11{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding:12px;
	padding-top: 50px;
	padding-bottom: 150px;
}
.p11{
	width: 47.5%
}
.p12{
	width: 22%
}
.p13{
	width: 22%
}

.p14{
	padding-bottom:0px;
	width: 40%
}

.quote15{
	text-align: right;
	color: #7e88ab;
	line-height: 150%;
	padding-right: 30px;
	font-size: 20px;
	opacity: 40%
}

